p {
    display: inline-block;
    width: 30%;
    margin-left:2%;
    vertical-align: top;
}
table {
    display: inline-block;
    width: 30%;
    margin-left:2%;
    vertical-align: top;
}
.red {
    background: red;
}
#textstart {
    background-color: yellow;
    font-size: 30px;
  }
header {text-align: center;}
body {text-align: center;}
.text {text-decoration-style: solid;}

[type="checkbox"]
{
    vertical-align:middle;
}
#demo{
    font-size: 20px;
}
