body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.leftSide, .rightSide {
    width: 50vw;
    position: absolute;
    top: 0;
    height: 100vh
}

.leftSide {
    left: 0;
}

.rightSide {
    right: 0;
    border-left: 1px solid black;
}

.counter{
    text-align: center;
}

#counterNumber {
    font-size: 36px;
}

.mainAction {
    text-align: center;
    margin-top: calc(50vh - 268px);
}

#cookieClicker {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
}

#cookieClicker:hover {
    background: yellow;
}

#cookieClicker:active {
    background: green;
}

.extraUpgrades {
    background: aquamarine;
    height: 100px;
}

.bonuses {
    overflow-y: scroll;
    height: calc(100vh - 100px)
}

.bonus {
    font-size: 30px;
    transition: 0.3s ease-in-out;
    border-top-style: solid;
    border-color: aqua;
    cursor: pointer;
}
.bonus:hover{
    background: aqua;
}
#upgradesHeader{
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
}
img {
    width: 7vw; height: auto;
}
.price {
    text-align: center;

}
#bottomUpgrade{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: aqua;
}
.upgradeCount {
    display: inline-block;
}