table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table {
    width: 100%;    
    background-color: #f1f1c1;
  }
  table {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  